@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>Aluno @ViewData["Aluno"] </p>


<address>Mais informações: 
    </strong> <a href="https://github.com/IsaiasCosta/SalesWeb/tree/master">github projeto SalesWeb</a>
</address>
